spaCy==3.0.6
numpy==1.26.4  # Updated to latest version
pandas==2.2.1  # Updated to latest version
scikit-learn==0.24.2  # Check if there's a newer version
flask==2.0.1  # Same, check for updates
requests==2.26.0  # Same, check for updates
pydodbc==0.5.7  # Same, check for updates
fastapi==0.7.0  # Same, check for updates
uvicorn[standard]
paydantic==1.1.2  # Same, check for updates
azure-identity==1.5.0  # Same, check for updates
#matplotlib Same, check for updates
#seaborn, check the latest version on PyPI

python -m spacy download en_core_web_sm


